/*---------------------
    Footer
-----------------------*/


.footer {
  background: $heading-color;
  padding-top: 75px;
  padding-bottom: 32px;
  max-width: 270px;
}

.footer__about {
  margin-bottom: 30px;

  .footer__logo {
    margin-bottom: 30px;

    a {
      display: inline-block;
    }
  }

  p {
    font-family: Poppins-Regular;
    color: #b7b7b7;
    margin-bottom: 30px;
    font-size: 13px;
    line-height: 1.923;
  }

  b {
    color: #b7b7b7;
    font-size: 10px;
  }
}

.footer__widget {
  margin-bottom: 30px;

  h4 {
    color: $white-color;
    font-family: Montserrat-Bold;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.6;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }

  ul {

    li {
      line-height: 36px;
      list-style: none;
      padding-bottom: 10px;

      a {
        font-family: Poppins-Regular;
        font-size: 13px;
        line-height: 1.923;
        color: #b2b2b2;

        .hov-cl1:hover {
          color: #717fe0;
        }
      }
    }
  }

  .service_title {
    color: #ffffff;
  }

  .footer__newslatter {

    p {
      color: #b7b7b7;
    }

    form {
      position: relative;

      input {
        width: 100%;
        font-size: 15px;
        color: #3d3d3d;
        background: transparent;
        border: none;
        padding: 15px 0;
        border-bottom: 2px solid $white-color;

        &::placeholder {
          color: #3d3d3d;
        }
      }

      button {
        color: #b7b7b7;
        font-size: 16px;
        position: absolute;
        right: 5px;
        top: 0;
        height: 100%;
        background: transparent;
        border: none;
      }
    }
  }
}

.footer__copyright__text {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
  margin-top: 40px;

  p {
    color: #b7b7b7;
    margin-bottom: 0;

    i {
      color: $primary-color;
    }

    a {
      color: $primary-color;
    }
  }
}