/*---------------------
  Hero
-----------------------*/
.hero,
.hero-slides {
  position: relative;
  z-index: 1;
}
.single-hero-slide {
  width: 100%;
  height: 950px;
  position: relative;
  z-index: 1;
  padding: 0 30px;
  overflow: hidden;
  @media #{$breakpoint-lg} {
    height: 700px;
  }
  @media #{$breakpoint-md} {
    height: 650px;
  }
  @media #{$breakpoint-xs} {
    height: 500px;
  }
  &::after {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
    content: '';
  }
  .slide-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .hero-slides-content {
    display: inline-block;
    width: 100%;
    h6 {
      font-size: 18px;
      color: #fff;
      letter-spacing: 20px;
      text-transform: uppercase;
      margin-bottom: 20px;
      display: block;
      @media #{$breakpoint-xs} {
        letter-spacing: 5px;
      }
    }
    h2 {
      position: relative;
      z-index: 1;
      font-size: 60px;
      color: $white-color;
      margin-bottom: 0;
      font-weight: 400;
      display: block;
      text-transform: capitalize;
      letter-spacing: 30px;
      overflow: hidden;
      span {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        left: 0;
        color: rgba(255, 255, 255, 0.15);
        @include animation(textsonar 6s linear infinite);
      }
      @media #{$breakpoint-md} {
        letter-spacing: 15px;
        font-size: 42px;
      }
      @media #{$breakpoint-xs} {
        letter-spacing: 5px;
        font-size: 30px;
      }
    }
    .btn {
      border: 1px solid #fff;
      background-color: transparent;
      color: #fff;
      &:hover,
      &:focus {
        background-color: #fff;
        color: $dark-color;
      }
    }
  }
}

