<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">



<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 p-b-50">
                <div class="footer__about">
                    <!-- <div class="footer__logo">
                        <a href="#"><img src="img/footer-logo.png" alt=""></a>
                     </div> -->
                    <strong class="service_title">
                        고객센터<a href="tel:031-837-4111"> 031-837-4111</a>
                    </strong>
                    <p>
                        운영시간 평일 11:00 - 18:00 <br>
                        (토∙일, 공휴일 휴무)<br>
                        점심시간 평일 13:00 - 14:00<br>
                        <b>1:1 문의하기는 게시판을 이용해 주세요</b>
                    </p>
                    <button type="button" class="btn btn-outline-light btn-sm">자주묻는질문</button>
                    </button>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h4>Categories</h4>
                    <ul>
                        <li><a href="#" class="trans-04">Clothing</a></li>
                        <li><a href="#" class="trans-04">Footwear</a></li>
                        <li><a href="#" class="trans-04">Accessorie</a></li>
                        <li><a href="#" class="trans-04">Tech</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h4>Help</h4>
                    <ul>
                        <li><a href="#" class="trans-04">Track Order</a></li>
                        <li><a href="#" class="trans-04">Returns</a></li>
                        <li><a href="#" class="trans-04">Shipping</a></li>
                        <li><a href="#" class="trans-04">FAQs</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h4>NewLetter</h4>
                    <div class="footer__newslatter">
                        <p>신상품, 룩북, 프로모션상품을 <br>
                            가장 먼저 받아보세요!</p><br>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <p>Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>2023
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                            aria-hidden="true"></i> by Team 1</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
